Local/Steam/htmlcache
Local/Steam/cefdata
*.log
Roaming/lx-music-desktop/Cache
Roaming/lx-music-desktop/logs
Roaming/lx-music-desktop/Partitions
Roaming/lx-music-desktop/Session Storage
Roaming/lx-music-desktop/DawnWebGPUCache
Roaming/lx-music-desktop/Local Storage
Roaming/lx-music-desktop/GPUCache
Roaming/lx-music-desktop/DawnGraphiteCache
Local/
Roaming/
Local/
25.2.28/
_Docunment/
LocalLow/
AppData_20250228/
